/* {
    outline: 1px solid rebeccapurple;
    }*/
    
    body {
    margin: 0;
    padding: 0;
    }
    .zzzz {
    margin: 0 auto;
    width: 1280px;
    height: 699px;
    background-color: #222222;  
    }
    .kkkk{
    display: flex;    
    width: 1280px;
    height: 50px;
    display: flex;
    }
    .iiii{
     width: 60px;
     height: 60px;
     margin: 25px;
    }
    .ssss{
        display: flex;
    flex-wrap: nowrap;
    color: white;
    margin-top: 30px;
    list-style: none;
    height: 20px;
    width: 310px;
    }
    li{
    margin-right: 60px;
    }
   /* .tttt{
    width: 20px;
    height: 20px;
    margin-left: 1220px;
    }*/
    .zzzz2 {

    display: flex;
    margin-left: -300px;
    margin-top: 150px;
    width: 1100px;
    height: 500px;
    color: aliceblue;
    background-image: url(moon-rocket.png);
    background-repeat: no-repeat;
    background-position: 620px 30px;
    }
    .mmmm {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: aliceblue;
    background-color: #0c0c0c;  
    }
    .bbbb {
    display: block;
    width: 195px;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    padding: 0px 40px;
    border: none;
    border-radius: 50px;
    background-color: #feca30;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-image: url(right-arrow-dark.png);
    background-position: 220px 17px;
    }
    .mmmm2 {

    display: flex;
    width: 1280px;
    height: 450px;
    background-color: white;
    background-image: url(map.jpg);
    background-repeat: no-repeat;
    background-position: 60px 30px;
    }
    .tttt2 {
    color: black;
    width: 600px;
    height: 450px;
    margin-left: 600px;
    }
    .ssss2 {
    margin-left: 60px;
    width: 500px;
    display: block;
    flex-wrap: nowrap;
    }
    .ssss3 {
    margin-left: 40px;
    width: 500px;
    display: block;
    flex-wrap: nowrap;
    }
    .ssss2 li::before {
    color: #feca30;
    font-size: 20px;
    padding-right: 20px;
    content: "\2022";
    }
    .pppp {
    list-style: none;
    padding-left: 0px;
    width: 500px;
    }
    .rrrr {
    display: flex;
    }